<div class="text-center" ng-controller="LoginController">

    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="inputEmail" class="sr-only">Usuário</label>
        <input type="text" id="inputUsuario" class="form-control" ng-model="Usuario"  placeholder="Usuário" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputSenha" ng-model="Senha" class="form-control" placeholder="Senha" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="Logar()">ENTRAR</button>
    </form>

</div>


